
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





    <div class="card mb-4">

        <div class="container-fluid">

            <h1 class="mt-4">Import</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/Admin/Chart/Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">

                <div class="card-body">
                    @using (Html.BeginForm("Upload", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <table>
                            <tr>
                              
                                <td> <input type="file" name="UploadedFile" /> </td>

                            </tr>
                          
                        </table>
                          <input type="submit" name="Submit" value="Submit" class="btn-success" /> 
                    }

                </div>
            </div>

        </div>
        </div>


