
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Themes/Home/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/Themes/Home/images/about.jpg');">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">About us</span>
                    <h2 class="mb-4">Welcome to Carstore</h2>

                    <p>Cam kết mang lại trải nghiệm tốt nhất cho người dùng</p>

                    <p>Cung cấp xe chính hãng với sự tiện nghi vượt trội</p>
                    <p>Đồng hành cùng khách hàng với mọi cung đường</p>


                    <p><a href="/Search" class="btn btn-primary py-3 px-4">Search Car</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url('/Themes/Home/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Bạn muốn có một chiếc xe. Đừng bỏ lỡ</h2>
            
            </div>
        </div>
    </div>
</section>


<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Testimonial</span>
                <h2 class="mb-3">Staff</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/linh.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">You're on the right track now!</p>
                                <p class="name">Thái Duy Linh</p>
                                <span class="position">Leader</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/person_2.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Super!</p>
                                <p class="name">Nguyễn Gia Huy</p>
                                <span class="position">Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/trung.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">I'm happy to see you working!</p>
                                <p class="name">Nguyễn Thành Trung</p>
                                <span class="position">Clerk</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/khanh.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Nice going!</p>
                                <p class="name">Vũ Nhật Khanh</p>
                                <span class="position">Salesman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/hieu.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">Keep up the good work!</p>
                                <p class="name">Trần Trung Hiếu</p>
                                <span class="position">Salesman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/sang.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">You're really working hard! </p>
                                <p class="name">Nguyễn Xuân Sang</p>
                                <span class="position">Salesman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/ky.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">You're doing fine! </p>
                                <p class="name">Phan Văn Kỷ</p>
                                <span class="position">Salesman</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url('/Themes/Home/images/hoai.jpg')">
                            </div>
                            <div class="text pt-4">
                                <p class="mb-4">You did a lot of work </p>
                                <p class="name">Lương Văn Hoài</p>
                                <span class="position">Technicians</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter ftco-section img" id="section-counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="60">0</strong>
                        <span>Year <br>Experienced</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="1090">0</strong>
                        <span>Total <br>Cars</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text text-border d-flex align-items-center">
                        <strong class="number" data-number="2590">0</strong>
                        <span>Happy <br>Customers</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="67">0</strong>
                        <span>Total <br>Branches</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


